.btn-primary {
    background-color: white !important;
    border-color: white !important;
    color: black !important;
    padding:2%;
  }
 .btn:hover {
    background-color: #ededed !important;
  }

  btn:active{
    border-color:grey !important;
  }

 .padding40{
    padding: 5%
 }

 .padding30{
    padding: 4%
 }

  .padding10{
     padding: 2%
  }

 .padding5{
    padding: 1%
 }

 body{
    background-color: #FFA07A !important;
    color: white !important;
    min-height:100%;
    min-width:100%;
 }

 html{
    height:100%;
    width:100%;
 }

 .italic{
    font-style: italic;
 }

 .panel-body{
    background-color: #FFDAB9 !important;
    color:black;
    }

  .post-body{
      background-color: #FFFFF0 !important;
      color:black;
   }

 a{
 color: black !important;
 }

 .warning{
    color: red !important;
    font-weight: bold;
 }

 .post{
    word-wrap:break-word;
    font-family: Georgia, "Times New Roman", Times, serif;

 }

  .date{
     word-wrap:break-word;
     font-family: Georgia, "Times New Roman", Times, serif;
     color: #808080;
  }

  textarea{
  width: 100%
  }

 .admin{
        color: tomato !important;
  }

 .user{
        color: lightgray !important;
  }