<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link>
    <meta charset="UTF-8"></meta>
    <link th:href="@{/css/styleSheet.css}" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Strona główna</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <div class="panel panel-default centered">
                <div class="panel-body text-center">
                    <div>
                        <button type="button" class="btn btn-primary-outline btn-block btn-md" onclick="location.href = '/login';">Login with email</button>
                        <br/>
                        <br/>
                        <button type="button" class="btn btn-primary-outline btn-block btn-md" onclick="location.href = '/register';">Register with email</button>
                        <br/>
                        <br/>
                        <button type="button" class="btn btn-primary-outline btn-block btn-md" onclick="location.href = '/admin/admin';">Login to admin panel</button>
                    </div>
               </div>
        </div>
        <div class="col-lg-5"></div>
    </div>
</body>
</html>


