<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styleSheet.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Posts</title>
</head>
    <body>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <form th:action="@{/logout}" method="post">
                    <div class="text-center padding5">
                        <input class="btn btn-primary btn-md" type="submit" value="Logout"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="row padding40">
            <div class="col-lg-4"></div>
             <div class="col-lg-4">
                 <div class="panel panel-default">
                     <form th:action="@{/post}" th:object="${postForm}" class="form-group" method="post">
                         <div>
                             <div class="panel-body">
                                 <div class="padding10">
                                     <textarea maxlength="300" rows="6" class="form-control" type="text" name="post"></textarea>
                                     <a id="signesLeft"></a>
                                     <script>$("textarea").on('keydown', function(){
                                     $("#signesLeft").html(300-$("textarea").val().length)
                                     });</script>
                                 </div>
                             </div>
                         </div>
                         <div class="text-center padding5">
                             <input class="btn btn-primary btn-md" type="submit" value="Add post"/>
                         </div>
                     </form>
                 </div>
                <div>
                    <div class="deletable">
                        <div th:block th:each="post : ${post}">
                            <div>
                                <div class="anchor3">
                                    <div class="panel panel-default padding10 anchor2 postMode" >
                                        <div class="panel-body post-body rounded anchor">
                                            <span class="date" th:attr="id=${post.id}" th:text="${#dates.format(post.postDate, 'dd-MM-yyyy HH:mm')}"></span>
                                            <br/>
                                            <span class="post" th:attr="id=${post.id}" th:text=" ${post.post}"></span>
                                            <textarea style="display:none" maxlength="300" rows="6" class="area"></textarea>
                                            <a style="display:none"></a>
                                            <br/>
                                            <button style="display:none">Edit</button><button style="display:none">Delete</button>
                                            <button style="display:none">Ok</button><button style="display:none">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                             $(".anchor3").on('mouseenter', ".postMode", function(){
                                                $(this).find("button:contains('Edit')").show();
                                                $(this).find("button:contains('Delete')").show();
                                             });
                                              $(".anchor3").on('mouseleave', ".postMode",  function(){
                                                $(this).find("button").hide();
                                            });
                                            $(".anchor").on("click", "button:contains('Edit')", function(){
                                                 var text = $(this).parent().find(".post").text();
                                                 var id = $(this).parent().find(".post").attr("id");
                                                 $(this).parent().find(".post").hide();
                                                 $(this).parent().find("textarea").show();
                                                 $(this).parent().find("textarea").attr("id", id);
                                                 $(this).parent().find("textarea").val(text);
                                                 $(this).parent().parent().removeClass("postMode").addClass("editMode");
                                                 $(this).parent().find("button").hide();
                                                 $(this).parent().unbind('mouseenter mouseleave');
                                                 $(this).parent().find("a").text(text);
                                             });

                                             $(".anchor").on("click", "button:contains('Delete')", function(){
                                                 //ajaxShot delete
                                                 $(this).parentsUntil(".deletable").remove();
                                             });

                                             $(".anchor3").on('mouseenter', ".editMode",  function(){
                                               $(this).find("button:contains('Ok')").show();
                                               $(this).find("button:contains('Cancel')").show();
                                             });
                                              $(".anchor3").on('mouseleave', ".editMode",  function(){
                                                $(this).find("button").hide();
                                            });

                                             $(".anchor").on("click", "button:contains('Ok')", function(){
                                                 var text2 = $(this).parent().find("textarea").val();
                                                 $(this).parent().find(".post").show();
                                                 $(this).parent().find(".post").text($(this).parent().find("textarea").val());
                                                 $(this).parent().find("textarea").hide();
                                                 $(this).parent().parent().removeClass("editMode").addClass("postMode");
                                                 $(this).parent().find("button").hide();
                                                 $(this).parent().unbind('mouseenter mouseleave');
                                                 $(this).parent().find("a").text(text2);
                                                 //ajaxshot modify
                                             });

                                             $(".anchor").on("click", "button:contains('Cancel')", function(){
                                                 $(this).parent().find(".post").show();
                                                 var text3 = $(this).parent().find("a").text();
                                                 console.log(text3);
                                                 $(this).parent().find(".post").text(text3);
                                                 $(this).parent().find("textarea").hide();
                                                 $(this).parent().parent().removeClass("editMode").addClass("postMode");
                                                 $(this).parent().find("button").hide();
                                                 $(this).parent().unbind('mouseenter mouseleave');
                                             });


                                        </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 index text-center">
                <script>
                var monthHolder=0;
                var yearHolder=0;
                $("document").ready(function(){
                console.log("dok ready");
                $(".date").each(function(){
                id = $(this).attr("id");
                var date = $(this).text();
                var index = date.indexOf('-');
                var secoundIndex = date.lastIndexOf('-');
                var month = date.substring(index+1, secoundIndex);
                var year = date.substring(secoundIndex+1, secoundIndex+5);
                if(year>yearHolder){
                    add('Wpisy z roku' + year)
                    yearHolder=year;
                }
                if(month>monthHolder){
                    add(month);
                    monthHolder=month;
                }
                })
                });
                function add(param){
                    $(".index").append($("<a></a>").text(param).attr("href", "#"+id))
                    $(".index").append($("<br/>"))
                    }
   		</script>
            </div>
        </div>
    </body>
</html>