<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"></meta>
    <title>register</title>
</head>
<body>
<h1>Registration</h1>
<br/>
<h3>Create user</h3>
<form th:action="@{/register}" th:object="${UserForm}" method="post">
    <div><label> Username:<input type="text" th:field="*{email}"/> </label></div>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>

    <div><label> Password:<input type="password" th:field="*{password}"/> </label></div>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>

    <div><label> Repeat Password:<input type="password" th:field="*{password2}"/> </label></div>
    <div th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">Repeat Password Error</div>
    <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>